<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #f5a506;">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="list">Student Management</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button class="btn btn-outline-success me-2" type="button" routerLink="add">Add Student</button>&nbsp;
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-success me-2" type="button" routerLink="list">List of Students</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
